    body{
      background-color: rgb(15, 128, 128);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
    h1{
      color: rgb(0, 0, 53);
    }
    select{
      background-color: cadetblue;
    }
    table{
      border-radius: 10px;
      width: 80%;
      align-content: center;
      color: rgb(255, 255, 255);
      background-color: blue;
      padding: 1px;
    }
    label{
      color: rgba(32, 12, 78, 0.76);
    }
    tbody{
      text-align: center;
      color: black;
      background-color: beige;
    }